@import url(global.css);

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 15vh;
    color: white;
}

.homepage-button {
    background: none;
    border: solid white;
    padding: 10px;
    border-radius: 1px;
    color: white;
}

.homepage-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.homepage-text {
    font-family: SteakRough;
}

.anklebiters-logo {
    max-width: 200px;
}
