@import url(global.css);

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 15vh;
    color: white;
}

.anklebiters-logo {
    max-width: 200px;
}